@font-face {
    font-family: 'Rancho-Regular';
    src: url(../fonts/Rancho-Regular.ttf);
}

:root {
    --background-color: #00000030;
    --border-radius: 30px;
    --padding: 10px;
    --width: 90%;
    --margin: 0 auto 20px;
    --box-shadow: 0px 0px 7px 2px #00000069;
}

body {
    background-color: #8599b0;
    background: url(../img/body_bg.png), linear-gradient(105deg, #143868, #d8e6ee);
    background-size: cover;
}

.wrapper-weather {
    margin: 0 auto;
    max-width: 480px;
    min-width: 320px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Rancho-Regular', cursive;
}

.city-weather,
.weather-forecast,
.cities {
    margin: var(--margin);
    width: var(--width);
    padding: var(--padding);
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* city weather =========== */
.weather-title {
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 10px;
    background-color: #0000004d;
    box-shadow: 0px 1px 2px 1px #000000b3;
}

.city-name {
    font-size: 63px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.temperature {
    font-size: 60px;
}

.icon-weather {
    width: 100px;
    filter: grayscale(1);
}

.wind::after {
    background: url(../img/icon_wind.svg) no-repeat;
}

.humidity::after {
    background: url(../img/icon_humidity.svg) no-repeat;
}

.sunrise::after {
    background: url(../img/icon_sunrise.svg) no-repeat;
}

.sunset::after {
    background: url(../img/icon_sunset.svg) no-repeat;
}

.info::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-size: contain;
    vertical-align: bottom;
}

/* weather forecast ======== */
.new-weather,
.three-hours {
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 20px;
    background-color: #0000004d;
    box-shadow: 0px 1px 2px 1px #000000b3;
    cursor: pointer;
    user-select: none;
}

/* city lost ============= */
.city-list,
.day-5 {
    cursor: pointer;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    user-select: none;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px 1px #000000b3;
}

.new-weather:hover {
    box-shadow: inset 0px 1px 2px 0px #000000b3;
    background-color: #00000080;
}

.city-list,
.day-5,
.three-hours {
    background: url(../img/burger_01.png) center right 10px no-repeat, #0000004d;
}

.city-list.close-menu,
.day-5.close-menu,
.three-hours.close-menu {
    background: url(../img/burger_02.png) center right 10px no-repeat, #0000004d;
}

.your-cities span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    background: url(../img/icon_delete.svg) no-repeat;
    background-size: cover;
    box-sizing: border-box;
    right: 10px;
    position: absolute;
}

.your-cities span:hover {
    animation: cart-rotate 1s infinite;
}

@keyframes cart-rotate {
    25% {
        transform: rotate(15deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}

.visible-city-list {
    visibility: visible;
    height: auto;
}

.selected-city li:first-letter {
    text-transform: uppercase;
}

.selected-city {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.selected-city.visible-city-list {
    visibility: visible;
    height: auto;
    overflow: visible;
}

.selected-city li {
    margin: 0 auto;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px 1px #00000063;
    user-select: none;
}

.selected-city li:first-child {
    background-color: #00000025;
}

.selected-city li:hover {
    box-shadow: inset 0px 0px 3px 1px #000;
}

.search {
    cursor: pointer;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #0000004d;
    box-shadow: 0px 1px 2px 1px #000000b3;
    position: relative;
    margin-top: 20px;
}

.input-search-city {
    border: none;
    border-radius: 25px;
    padding: 7px 55px 7px 30px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    vertical-align: middle;
    font-size: 24px;
    line-height: 1.4;
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    box-shadow: inset 0px 0px 3px 1px #000;
}

.input-search-city:focus {
    box-shadow: inset 0 0 3pt 2pt #13315b;
    background-color: #00000025;
}

.search-btn {
    width: 45px;
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom-right-radius: 12px;
    position: absolute;
    top: 24px;
    right: 25px;
}

.search-btn img:hover {
    animation: cart-rotate 1s infinite;
}

.search-btn img {
    display: block;
    width: auto;
    height: 100%;
}

.day-5,
.city-list,
.three-hours {
    padding-right: 50px;
}

/* weather-hour =========================  */
.weather-hour {
    margin-bottom: 20px;
}

.hour-date {
    padding: 10px 20px;
    margin: 25px 0 10px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 3px 1px #000;
    background-color: #00000030;
    font-size: 46px;
}

.hour-time img {
    vertical-align: middle;
}

.three-hours-data {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.three-hours-data.fill {
    visibility: visible;
    height: auto;
}